#You need to configure the following contents according to the actual situation of your controlled host
[defaults]
inventory = /root/codeproject/Ansible-OpenStack-Dalmatian/inventory
collections_path = /root/codeproject/Ansible-OpenStack-Dalmatian/collections
roles_path = /root/codeproject/Ansible-OpenStack-Dalmatian/roles
remote_user = root
hosts_key_checking = false
timeout = 10


[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
